@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 225 59.5% 36.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 345.5 58.7% 47.6%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 39% 11.4%;
    --foreground: 210 40% 98%;
    --card: 222 39% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 222 39% 11.4%;
    --popover-foreground: 210 40% 98%;
    --primary: 225 59.5% 36.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 222 39% 16%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 39% 16%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 345.5 58.7% 47.6%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 39% 16%;
    --input: 222 39% 16%;
    --ring: 225 59.5% 36.3%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url('/bg-pat.png');
    background-repeat: repeat;
  }
}
